<section>
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>
  <div class="jumbotron">
    <p>Jungle store has <%= @categories.all.length %> categories and <%= @products.all.length %> products in database</p>
    <div class="well">
      <%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %>
    </div>
  </div>
</section>

